/* #root {
  color: black;
} */
body {
  background-color: #dddddd;
}
#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  #root {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
.episode {
  min-width: 350px;
  max-width: 500px;
  background-color: whitesmoke;

  margin: 10px 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid black;

  /* gradient border
  border-image: linear-gradient(#f6b73c, #67331e) 30;
  border-width: 4px;
  border-style: solid; */

}

.episode-number {
  color: blue;
  text-align: center;
}

.episode-title {
  border: 2px solid black;
  text-align: center;
  padding: 5px auto;
  height: 100px;
}

.episode-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.episode-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}

.episode-summary {
  margin: 20px 0;
  padding: 10px 20px;
  text-align: justify;
  font-size: 1.2rem;
}
